<div class="container">
  <h1><%= @cocktail.name %></h1>
  <% if @cocktail.photo.present? %>
    <%= cl_image_tag @cocktail.photo, height: 200, width: 200, crop: :fill %> <br>
  <% else %>
    <%= image_tag('cocktail_placeholder.jpeg')   %>
  <% end %>

  <% if @cocktail.doses.blank? %>
    <%= link_to "Add your first dose", new_cocktail_dose_path(@cocktail) %> <br>
  <% else %>
     <ul>
      <% @cocktail.doses.each do |dose| %>
       <li>
        <%= dose.description %> | <%= dose.ingredient.name %> <br>
        <%= link_to "Delete dose", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" }  %> <br>
        <p></p>
        </li>
      <% end %>
    </ul>
    <%= link_to "Add another dose", new_cocktail_dose_path(@cocktail) %> <br>

  <% end %>
  <%= link_to "Back to list", cocktails_path %>
</div>


https://i0.wp.com/cheechsown.com/wp-content/uploads/2017/05/cocktail-placeholder-1.jpg?ssl=1
